body{
  font-family: helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

.list{
  font-size: 18px;
  text-decoration: underline;
}

.header,.design{
  color: white;
  background-image: url("/Users/joshuaowen/Documents/A Final Procedure/coding projects/Broadway/Resources/the-flatiron-building.png");
}
