body{
  font-family: helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

.list{
  font-size: 18px;
  text-decoration: underline;
}

.header{
  background-image: url("./Resources/the-flatiron-building.png");
}

h2{
  background-image: url("./Resources/the-flatiron-building.png");
}
